.panels {
  display: flex;
  z-index: -20;
  width: auto;
  overflow-wrap: break-word;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
  padding: 70px 10px 70px 50px;
}

.panels::-webkit-scrollbar {
  height: 30px;
}

.panels::-webkit-scrollbar-track {
  background-color: #ffffff95;
  margin: 0 10px;
}

.panels::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.117);
  filter: brightness(150%);
  border: 5px solid transparent;
  border-radius: 2px;
  background-clip: content-box;
}

.panel {
  display: flex;
  position: relative;
  margin-right: 50px;
  padding: 20px 0 40px 0;
  justify-content: center;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: box-shadow 200ms ease-in-out;
}

.panel:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.1) 0px 10px 10px -5px;
}

.weather-content {
  width: 270px;
}

.weather-content p {
  font-family: 'NunitoSansrope';
  font-weight: 100;
}

.weather-icon {
  width: 80px;
}

.weather-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-content * {
  margin: 7px 0;
}

.delete-icon {
  position: absolute;
  top: 25px;
  right: 22px;
  width: 22px;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
}

.delete-icon:hover {
  filter: drop-shadow(0px 0px 0px #67676729);
  transform: translateY(-2px);
}
