@font-face {
  font-family: 'Manrope';
  font-weight: 100;
  src: url('./assets/Manrope-Light.ttf');
}

body {
  display: flex;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  width: 1240px;
  align-items: center;
}

.main-note,
.note {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 270px;
  padding: 20px 20px 20px 20px;
  margin: 20px 10px;
  font-family: 'Manrope';
}

.main-note {
  width: 352px;
}

.note {
  height: 250px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #42445a31;
}

.main-note-top,
.note-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-note-bottom,
.note-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 25px 0;
}

.note-bottom {
  padding: 0;
}

.colors-box {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.color:hover {
  border: 1px solid #ff0a0a;
}

textarea,
input,
textarea::placeholder,
input::placeholder {
  resize: none;
  font-family: 'Manrope';
  font-size: 12px;
  padding: 5px 5px;
}

textarea,
textarea::placeholder {
  padding: 5px 5px;
}

.tags-input {
  margin-left: 10px;
}

.title-note {
  width: 270px;
  margin: 0;
}

.title-input {
  width: 100%;
  margin-bottom: 20px;
}

.edit-icon,
.pin,
.bin-icon,
.checked-pin {
  width: 25px;
}

.img-box-bottom {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 15px;
  padding: 10px 0 0 0;
}

.edit-icon:hover,
.pin:hover,
.bin-icon:hover,
.checked-pin:hover {
  -webkit-filter: drop-shadow(0px 0px 0px #000000);
  filter: drop-shadow(0px 0px 0px #000000);
}

button {
  font-family: 'Manrope';
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #656565b3;
  border-radius: 15px;
  width: 70px;
  height: 30px;
  margin-right: 10px;
  -webkit-box-shadow: inset 0px 0px 26px -26px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 0px 26px -26px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 0px 26px -26px rgba(66, 68, 90, 1);
}

button:hover {
  border: 1px solid #424242;
}

.note-content {
  width: 94% !important;
  height: 150px;
  font-size: 13px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.invisible {
  display: none;
}

.note-date {
  top: 10px;
  font-size: 10px;
  padding: 0 0 7px 0;
  margin: 0;
  color: #00000057;
}

.note-content::-webkit-scrollbar {
  width: 20px;
}

.note-content::-webkit-scrollbar-track {
  background-color: #ffffff95;
}

.note-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.117);
  filter: brightness(150%);
  border: 5px solid transparent;
  border-radius: 2px;
  background-clip: content-box;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  background-color: #8498c6;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  -webkit-box-shadow: inset 0px 0px 33px -19px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 0px 33px -19px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 0px 33px -19px rgba(66, 68, 90, 1);
}

.search-input {
  width: 450px;
}

.panel-btn {
  background-color: #ffffff00;
  width: 120px;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.panel-btn:hover {
  border: none;
}

.panel-btn:after {
  display: block;
  content: '';
  border-bottom: 1px solid #ffffff;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.panel-btn:hover:after {
  transform: scaleX(0.3);
}

.pin,
.checked-pin {
  position: absolute;
  top: 15px;
  right: 15px;
}

.tags-box {
  gap: 10px;
  position: absolute;
  display: flex;
  bottom: 3px;
  left: 20px;
  width: 250px;
  font-size: 13.5px;
  overflow-x: scroll;
}

.tag {
  background-color: #fdfdfda2;
  border-radius: 10px;
  padding: 2px 7px;
  margin: 0 0 5px 0;
}

.tags-box::-webkit-scrollbar {
  width: 20px;
}

.tags-box::-webkit-scrollbar-track {
  background-color: #00000000;
}

.tags-box::-webkit-scrollbar-thumb {
  background: #00000012;
  filter: brightness(150%);
  border: 5px solid transparent;
  border-radius: 2px;
  background-clip: content-box;
}

.tag:hover {
  background-color: #fdfdfd;
}

.tag:hover {
  background-color: #fdfdfd;
}
