@font-face {
  font-family: 'Manrope';
  font-weight: 100;
  src: url('./assets/Manrope-Light.ttf');
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;

  width: 1250px;
  align-items: center;
}

.main-note,
.note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 250px;
  padding: 20px 20px 20px 20px;
  margin: 20px 10px;
  font-family: 'Manrope';
}

.main-note {
  width: 352px;
}

.note {
  height: 250px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #42445a31;
}

.main-note-top,
.note-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.main-note-bottom,
.note-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 25px 0;
}

.note-bottom {
  padding: 0;
}

.colors-box {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.color:hover {
  border: 1px solid #ff0a0a;
}

textarea,
input,
textarea::placeholder,
input::placeholder {
  resize: none;
  font-family: 'Manrope';
  font-size: 12px;
  padding: 5px 5px;
}

textarea,
textarea::placeholder {
  padding: 5px 5px;
}

.tags-input {
  margin-left: 10px;
}

.title-note {
  width: 270px;
  margin: 0;
}

.title-input {
  width: 100%;
}

.edit-icon,
.pin,
.bin-icon,
.checked-pin {
  width: 25px;
}

.img-box-bottom {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 15px;
  padding: 10px 0 0 0;
}

.edit-icon:hover,
.pin:hover,
.bin-icon:hover,
.checked-pin:hover {
  -webkit-filter: drop-shadow(0px 0px 0px #000000);
  filter: drop-shadow(0px 0px 0px #000000);
}

button {
  font-family: 'Manrope';
  font-size: 12px;
  background-color: transparent;
  border: 1px solid #656565b3;
  border-radius: 15px;
  width: 70px;
  height: 30px;
  margin-right: 10px;
  -webkit-box-shadow: inset 0px 0px 26px -26px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 0px 0px 26px -26px rgba(66, 68, 90, 1);
  box-shadow: inset 0px 0px 26px -26px rgba(66, 68, 90, 1);
}

button:hover {
  border: 1px solid #424242;
}

.note-content {
  width: 94% !important;
  height: 150px;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.unvisible {
  display: none;
}

.note-date {
  font-size: 12px;
}

/* width */
.note-content::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.note-content::-webkit-scrollbar-track {
 background-color: #ffffff95;
}
 
/* Handle */
.note-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.117);
  filter: brightness(150%);
  border: 5px solid transparent;
  border-radius: 2px;
  background-clip: content-box;
}
