body {
  margin: 0;
  font-family: 'NunitoSansrope';
  font-weight: 300;
}

.invisible {
  display: none !important;
}

canvas {
  width: 90vw !important;
}

.chart-box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
