.values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 370px;
  position: absolute;
  background-color: #ffffff;
  color: black;
  top: 0;
  left: 0;
  padding: 15px 0;
  gap: 20px;
}

.value-box {
  display: flex;
}

.value-box h4 {
  width: 150px;
  margin: 0;
  padding-left: 30px;
}
.value-box input {
  height: 20px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #070707;
  color: #ffffff;
}

canvas {

  display: block;
}
