@font-face {
  font-family: 'Lexend';
  src: url('./assets/Lexend-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat-Thin.ttf');
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Lexend';
}

.values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  position: absolute;
  background-color: #ffffff;
  color: black;
  bottom: -30%;
  transition: bottom 0.5s ease-out 100ms;
  padding: 50px 0 15px 0;
  gap: 20px;
  -webkit-box-shadow: inset -0px 0px 46px -25px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset -0px 0px 46px -25px rgba(66, 68, 90, 1);
  box-shadow: inset -0px 0px 46px -25px rgba(66, 68, 90, 1);
}

.values:hover {
  bottom: 0;
}

.value-box {
  display: flex;;
  padding: 5px 60px 0 60px;
  align-items: center;
}

.value-box h4 {
  width: 150px;
  margin: 0;
}

.dots-number {
  height: 20px;
  width: 120px;
  border: none;
  border-bottom: 1.5px solid #b8b8b8;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: 'Lexend';
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #070707;
  color: #ffffff;
}

canvas {
  display: block;
}

.btns-box {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px 25px 70px;
  width: 60%;
}

button {
  font-family: 'Lexend';
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #b8b8b8;
  font-family: 'Lexend';
  padding: 5px 15px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hover-title {
  position: absolute;
  letter-spacing: 1px;
  bottom: 60px;
  margin: 0;
  font-family: 'Montserrat';
  font-size: 20px;
  animation: hoverColor 2.5s infinite alternate;
}

@keyframes hoverColor {
  from {
    color: #c8c8c8c0;
  }

  to {
    color: #a5a5a528;
  }
}

.locked-start {
  background-color: #9e9e9e;
  color: #0e0e0e;
}

.range-value {
  font-size: 13px;
  width: 30px;
  padding-left: 10px;
}