body {
  background-color: #000000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board-box {
  position: relative;
  box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.1vw #b372e9,
    0 0 3vw 0.1vw #990be5, inset 0 0 1.5vw 0vw #990be5,
    inset 0 0 0.4vw 0vw #b372e9, inset 0 0 0.5vw 0.2vw #fff7f7;
  width: 350px;
  height: 600px;
  z-index: 10;
  padding: 3px;
}

.results-box {
  width: 350px;
  height: 70px;
  margin-bottom: 40px;
  z-index: 1;
  box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.4vw 0.1vw #b372e9,
    0 0 3vw 0.1vw #990be5, inset 0 0 1.5vw 0vw #990be5,
    inset 0 0 0.4vw 0vw #b372e9, inset 0 0 0.5vw 0.2vw #fff7f7;
}

.ball {
  position: absolute;
  z-index: 10;
  border-radius: 50%;
  background-color: #fff7f7;
  height: 25px;
  width: 25px;
  top: 450px;
  left: 165px;
  box-shadow: 0 0 0.1vw 0.4vw #fff7f7, 0 0 0.1vw 0.1vw #b372e9,
    0 0 3vw 0vw #990be5;
}

.hole {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  top: 50px;
  left: 165px;
  height: 40px;
  width: 40px;
  background-color: #000000;
  box-shadow: 0 0 0.1vw 0.25vw #fff7f7, 0 0 0.4vw 0.1vw #b372e9,
    0 0 1.5vw 0.1vw #990be5, inset 0 0 1.5vw 0.5vw #990be57b,
    inset 0 0 0.4vw 0vw #b372e952, inset 0 0 0.5vw 0.2vw #fff7f7c1;
}

.result {
  color: #ffffff;
}

.positive-point {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  background-color: #c3f4ff;
  box-shadow: 0 0 0.1vw 0.1vw #90e2f4, 0 0 0.1vw 0.1vw #90e2f4,
    0 0 3vw 0vw #90e2f4, inset 0 0 1.5vw 0vw #c3f4ff,
    inset 0 0 0.4vw 0vw #c3f4ff, inset 0 0 0.5vw 0.2vw #ffffff;
}

.negative-point {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  height: 13px;
  width: 13px;
  background-color: #ffc3c3;
  box-shadow: 0 0 0.1vw 0.1vw #f97474, 0 0 0.1vw 0.1vw #f49090,
    0 0 3vw 0vw #f49090, inset 0 0 1.5vw 0vw #ef8585,
    inset 0 0 0.4vw 0vw #f77f7f, inset 0 0 0.5vw 0.2vw #ffffff;
}

.points {
  color: #ffffff;
  padding-left: 10px;
}