@font-face {
  font-family: 'Kanit';
  src: url('asstes/Kanit-Regular.ttf');
}

body {
  font-family: Kanit;
  color: #000000c7;
}

.invisibleElement {
  display: none;
}

.container {
  padding: 20px;
}

.fields{
  padding-bottom: 20px;
}

input {
  padding: 0;
  border: 1px solid black;
  margin: 0 5px 0 30px;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

label {
  position: absolute;
}

button,
input[type='submit'] {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 25px !important;
  background-color: inherit;
  border: 0;
  padding: 0 0 0 5px;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
