@font-face {
  font-family: 'Kanit';
  src: url('asstes/Kanit-Regular.ttf');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Kanit;
  color: #000000;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  z-index: -1;
  background: url('asstes/numbers.gif');
}
.invisibleElement {
  display: none;
}

.container {
  padding: 20px;
  background-color: rgb(255, 255, 255);
  width: fit-content;
}

.fields {
  padding-bottom: 20px;
}

input {
  padding: 0;
  border: 1px solid black;
  margin: 0 5px 0 30px;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

label {
  position: absolute;
}

button,
input[type='submit'] {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 25px !important;
  background-color: inherit;
  border: 0;
  padding: 0 0 0 5px;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
